cloudinary==1.41.0
fastapi==0.115.6
matplotlib==3.10.0
numpy==2.2.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pydantic==2.10.3
python-dotenv==1.0.1
python_bcrypt==0.3.2
Requests==2.32.3
SQLAlchemy==2.0.36
sqlmodel==0.0.22
tensorflow==2.17.0
uvicorn==0.33.0
